@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

#home-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    font-family: 'Nanum Pen Script', cursive;
    background-color:#4B0082;
    color:white;
}

#home-title {
    font-size: 72px;
}

#home-image {
    height: auto;
    max-width: 20%;
}

.button {
    z-index: 1;
    font-size: 32px;
    border-radius: 16px;
    padding: 12px;
    cursor: pointer;
    font-family: 'Nanum Pen Script', cursive;
}

#start-button {
    border: 2px solid white;
    scale: 1;
    transition: 0.2s all ease;
}

#start-button:hover{
    color:#FFC300 ;
    border: 2px solid #FFC300;
    scale: 1.1;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

.image {
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s ease;
}

#image1 { background-image: url('./images/c2.JPG');}
#image2 { background-image: url('./images/c2desk.jpg'); }
#image3 { background-image: url('./images/cs.JPG'); }
#image4 { background-image: url('./images/mp.JPG'); }
#image5 { background-image: url('./images/baraha.JPG'); }
#image6 { background-image: url('./images/c2-city.jpg'); }

button {
    padding: 10px 20px;
    cursor: pointer;
}

.top-center { position: absolute; top: 10px; left: 50%; transform: translateX(-50%); }
.bottom-center { position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%); }
.right-center { position: absolute; right: 10px; top: 50%; transform: translateY(-50%); }
.left-center { position: absolute; left: 10px; top: 50%; transform: translateY(-50%); }
