@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

body {
    margin: 0;
}

#home-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#start-button {
    font-size: 32px;
    border: 2px solid black;
    border-radius: 16px;
    padding: 12px;
    cursor: pointer;
    font-family: 'Nanum Pen Script', cursive;
}

#wc-wrapper {
    height: 100vh;
    background-color: black;
    background-image: url(./images/wc.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}